## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Resources/WeatherPy_Database.csv")
city_data_df.head()

,WeatherPy_Database,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description,Country,Date
0,0,Hovd,48.0056,91.6419,48.02,31,0,1.66,Clear,MN,2022-05-13 19:14:51
1,1,Kapaa,22.0752,-159.3190,79.12,78,40,13.80,Clouds,US,2022-05-13 19:14:52
2,2,Birigui,-21.2886,-50.3400,85.33,33,0,1.68,Clear,BR,2022-05-13 19:14:52
3,3,Jamestown,42.0970,-79.2353,80.06,51,20,8.05,Clouds,US,2022-05-13 19:11:14
4,4,Jibuti,11.5000,42.5000,85.77,41,5,8.97,Clear,DJ,2022-05-13 19:14:52

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,WeatherPy_Database,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description,Country,Date
1,1,Kapaa,22.0752,-159.3190,79.12,78,40,13.80,Clouds,US,2022-05-13 19:14:52
2,2,Birigui,-21.2886,-50.3400,85.33,33,0,1.68,Clear,BR,2022-05-13 19:14:52
3,3,Jamestown,42.0970,-79.2353,80.06,51,20,8.05,Clouds,US,2022-05-13 19:11:14
4,4,Jibuti,11.5000,42.5000,85.77,41,5,8.97,Clear,DJ,2022-05-13 19:14:52
7,7,Atuona,-9.8000,-139.0333,78.12,70,68,20.11,Clouds,PF,2022-05-13 19:14:53
9,9,Avarua,-21.2078,-159.7750,80.65,89,100,10.36,Clouds,CK,2022-05-13 19:13:13
11,11,Banda Aceh,5.5577,95.3222,81.41,81,100,7.81,Clouds,ID,2022-05-13 19:14:54
12,12,Albany,42.6001,-73.9662,84.63,54,47,1.01,Clouds,US,2022-05-13 19:14:46
13,13,Puerto Ayora,-0.7393,-90.3518,82.36,88,89,5.01,Clouds,EC,2022-05-13 19:12:10
17,17,Bull Savanna,17.8868,-77.5902,77.74,73,100,19.44,Clouds,JM,2022-05-13 19:14:56

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 224 entries, 1 to 709
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   WeatherPy_Database   224 non-null    int64
 1   City                 224 non-null    object
 2   Lat                  224 non-null    float64
 3   Lng                  224 non-null    float64
 4   Max Temp             224 non-null    float64
 5   Humidity             224 non-null    int64
 6   Cloudiness           224 non-null    int64
 7   Wind Speed           224 non-null    float64
 8   Weather Description  224 non-null    object
 9   Country              224 non-null    object
 10  Date                 224 non-null    object
dtypes: float64(4), int64(3), object(4)
memory usage: 21.0+ KB

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df.isna()

,WeatherPy_Database,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description,Country,Date
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
687,False,False,False,False,False,False,False,False,False,False,False
690,False,False,False,False,False,False,False,False,False,False,False
699,False,False,False,False,False,False,False,False,False,False,False
708,False,False,False,False,False,False,False,False,False,False,False
709,False,False,False,False,False,False,False,False,False,False,False

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Weather Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
1,Kapaa,US,79.12,Clouds,22.0752,-159.3190,
2,Birigui,BR,85.33,Clear,-21.2886,-50.3400,
3,Jamestown,US,80.06,Clouds,42.0970,-79.2353,
4,Jibuti,DJ,85.77,Clear,11.5000,42.5000,
7,Atuona,PF,78.12,Clouds,-9.8000,-139.0333,
9,Avarua,CK,80.65,Clouds,-21.2078,-159.7750,
11,Banda Aceh,ID,81.41,Clouds,5.5577,95.3222,
12,Albany,US,84.63,Clouds,42.6001,-73.9662,
13,Puerto Ayora,EC,82.36,Clouds,-0.7393,-90.3518,
17,Bull Savanna,JM,77.74,Clouds,17.8868,-77.5902,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [9]:
# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row['Lat']
    lng = row["Lng"]

    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index,"Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
1,Kapaa,US,79.12,Clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
2,Birigui,BR,85.33,Clear,-21.2886,-50.3400,Birigui Palace Hotel
3,Jamestown,US,80.06,Clouds,42.0970,-79.2353,Hampton Inn & Suites Jamestown
4,Jibuti,DJ,85.77,Clear,11.5000,42.5000,Orchid Main Camp Goubet
7,Atuona,PF,78.12,Clouds,-9.8000,-139.0333,Villa Enata
9,Avarua,CK,80.65,Clouds,-21.2078,-159.7750,Paradise Inn
11,Banda Aceh,ID,81.41,Clouds,5.5577,95.3222,OYO 884 Rumoh PMI Hotel
12,Albany,US,84.63,Clouds,42.6001,-73.9662,
13,Puerto Ayora,EC,82.36,Clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
17,Bull Savanna,JM,77.74,Clouds,17.8868,-77.5902,Big Red's

In [10]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df.tail(20)

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
639,Columbus,US,84.34,Clouds,39.9612,-82.9988,DoubleTree Suites by Hilton Hotel Columbus Dow...
641,Non Sang,TH,79.75,Clouds,16.8687,102.5664,Sabaidee@Home Nonsang
642,Pemangkat,ID,78.78,Clouds,1.1667,108.9667,Ramah Kost KITA
644,Gopalpur,IN,82.98,Clouds,19.2667,84.9167,Gopalpur Palm Resort
645,Manggar,ID,80.20,Clouds,-2.8833,108.2667,Guest Hotel
648,Saquarema,BR,77.04,Clouds,-22.9200,-42.5103,Hotel Fazenda Sol e Lua
650,Baculin,PH,77.92,Clouds,7.4525,126.5842,Baculin Cove Beach Resort
655,Maragogi,BR,79.39,Clouds,-9.0122,-35.2225,Salinas do Maragogi All Inclusive Resort
660,Outram,MY,84.22,Clouds,1.2829,103.8379,Grand Copthorne Waterfront
663,Celestun,MX,82.76,Clear,20.8667,-90.4000,Posada Lilia
664,Hirara,JP,77.13,Rain,24.8000,125.2833,Hotel Atoll Emerald Miyakojima
675,Carutapera,BR,80.42,Clouds,-1.1950,-46.0200,Lidera
676,Crestview,US,89.31,Clear,30.7621,-86.5705,Holiday Inn Express & Suites Crestview South I...
681,Marang,MY,80.51,Clouds,5.2056,103.2059,DBarakah Homestay
685,Lorengau,PG,81.12,Clouds,-2.0226,147.2712,Lorengau Harbourside Hotel
687,Sao Domingos,BR,82.67,Clouds,-13.3983,-46.3183,Hotel e Restaurante Uirapuru (Márcio uirapuru ...
690,Mehtar Lam,AF,82.67,Clouds,34.6714,70.2094,Fareed Hakamani
699,Yurimaguas,PE,89.76,Clouds,-5.9000,-76.0833,Rio Huallaga Hotel & Business Center
708,Yilan,TW,77.36,Rain,24.7570,121.7530,Dar Chen Hotel
709,Manokwari,ID,79.92,Clouds,-0.8667,134.0833,Swiss Belhotel Manokwari

In [11]:
# 8a. Create the output File (CSV)
output_data_file = "../Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [12]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Weather Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [13]:
#11a Add a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

#11b Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))